
@model  starteAlkemy.Models.ViewModels.HomeViewModel

@{
    Layout = null;
}

@using (Ajax.BeginForm("PartialBackgroundProjectImagesPost", "Home",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "projectlink",
        InsertionMode = InsertionMode.Replace
    }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Cargar imagen de fondo de "Ultimos Proyectos":</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.BackgroundProject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BackgroundProject)
        </div>

        <p>
            <input type="submit" value="Cargar" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery.validate")
    @Scripts.Render("~/bundles/jquery.validate.unobtrusive") @*For unobtrusive-ajax*@
}

